<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binod.yoga">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TimerActivity">
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3825341424461293~6943204416" />

        <activity
            android:name=".FullScreenVideo"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".PlankPose" />
        <activity android:name=".FourLimbedStaff" />
        <activity android:name=".UpwardFacingDog" />
        <activity android:name=".HalfMoon" />
        <activity android:name=".WarriorFirst" />
        <activity android:name=".WarriorThird" />
        <activity android:name=".IntenseSideStretch" />
        <activity android:name=".DolphinPose" />
        <activity android:name=".BowPose" />
        <activity android:name=".CamelPose" />
        <activity android:name=".SidePlank" />
        <activity android:name=".RevolvedTriangle" />
        <activity android:name=".CrowPose" />
        <activity android:name=".BoatPose" />
        <activity android:name=".Wheelpose" />
        <activity android:name=".WallAssistedHandstand" />
        <activity android:name=".WallAssistedForeArmStand" />
        <activity android:name=".Headstand" />
        <activity android:name=".ShoulderStand" />
        <activity android:name=".IntermediateActivity" />
        <activity android:name=".Corpse" />
        <activity android:name=".SeatedForwardFold" />
        <activity android:name=".BoundAnkle" />
        <activity android:name=".BridgePose" />
        <activity android:name=".TreePose" />
        <activity android:name=".TrianglePose" />
        <activity android:name=".WarriorSecond" />
        <activity android:name=".DownwardFacingDog" />
        <activity android:name=".DownDogOnChair" />
        <activity android:name=".ChairPose" />
        <activity android:name=".MountainPose" />
        <activity android:name=".AdvancedActivity" />
        <activity android:name=".BeginnersActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>