<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binod.yoga">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.binod.yoga.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.binod.yoga.FullScreenVideo"
            android:screenOrientation="fullSensor">

        </activity>
        <activity android:name="com.binod.yoga.PlankPose" />
        <activity android:name="com.binod.yoga.FourLimbedStaff" />
        <activity android:name="com.binod.yoga.UpwardFacingDog" />
        <activity android:name="com.binod.yoga.HalfMoon" />
        <activity android:name="com.binod.yoga.WarriorFirst" />
        <activity android:name="com.binod.yoga.WarriorThird" />
        <activity android:name="com.binod.yoga.IntenseSideStretch" />
        <activity android:name="com.binod.yoga.DolphinPose" />
        <activity android:name="com.binod.yoga.BowPose" />
        <activity android:name="com.binod.yoga.CamelPose" />
        <activity android:name="com.binod.yoga.SidePlank" />
        <activity android:name="com.binod.yoga.RevolvedTriangle" />
        <activity android:name="com.binod.yoga.CrowPose" />
        <activity android:name="com.binod.yoga.BoatPose" />
        <activity android:name="com.binod.yoga.Wheelpose" />
        <activity android:name="com.binod.yoga.WallAssistedHandstand" />
        <activity android:name="com.binod.yoga.WallAssistedForeArmStand" />
        <activity android:name="com.binod.yoga.Headstand" />
        <activity android:name="com.binod.yoga.ShoulderStand" />
        <activity android:name="com.binod.yoga.IntermediateActivity" />
        <activity android:name="com.binod.yoga.Corpse" />
        <activity android:name="com.binod.yoga.SeatedForwardFold" />
        <activity android:name="com.binod.yoga.BoundAnkle" />
        <activity android:name="com.binod.yoga.BridgePose" />
        <activity android:name="com.binod.yoga.TreePose" />
        <activity android:name="com.binod.yoga.TrianglePose" />
        <activity android:name="com.binod.yoga.WarriorSecond" />
        <activity android:name="com.binod.yoga.DownwardFacingDog" />
        <activity android:name="com.binod.yoga.DownDogOnChair" />
        <activity android:name="com.binod.yoga.ChairPose" />
        <activity android:name="com.binod.yoga.MountainPose" />
        <activity android:name="com.binod.yoga.AdvancedActivity" />
        <activity android:name="com.binod.yoga.BeginnersActivity" />
        <activity android:name="com.binod.yoga.MainActivity">
        </activity>
    </application>

</manifest>